<style>
   th {
      border: 1px dotted #ccc !important;
  }

  .action  {
      background-color: white !important;
      border: none !important;
  }

  .btn{
      opacity: 0.76 !important;
  }

  .uni{
      min-width: 70px;
  }

  #shield{
      position: absolute;
      z-index: 2000;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100vh;
      background: gray;
      opacity: 0.3;
      display: none;
  }

  #popup{
      position: fixed;
      z-index: 2001;
      left: 28%;
      width: 40%;
      top: 3%;
      height: 50% !important;
      max-height: 50% !important;
      background-color: whitesmoke;
      opacity: 1 !important;
      display: none;
  }

  #popup-header{
      background-color: whitesmoke;
      height: 5%;
      font-size: 120%;
  }
  #popup-content{
      height: 90%;
      max-height: 90%;
      background: white;
      padding:0px;
  }
  #popup-footer{
      height: 5%;
      background-color: whitesmoke;
      border-top: 1px solid lightgray;
  }
  #content-holder{
      padding-top: 10px;
      width: 100%;
      height: 100%;
      overflow: auto;
  }
  #table-content{
      margin-top: 5px;
      padding-top:5px;
      width: 100%
  }
  .row_even, .row_odd{
      width: 100% !important;
  }
  .labell, .value{
      height: 35px;
      width: 50% !important;
      vertical-align: middle !important;
      padding-top: 8px !important;
  }
  .labell {
      font-size: 1em;
      font-weight: bold;
      border-right: 1px dotted lightgray !Important;
  }
  ul {
      list-style-type: none;
  }
  .checkbox input {
      padding-top: 0px !important;
      background: lightblue !important;
  }

  #data-container{
      height: 78%;
      overflow: auto;
      background-color: white;
  }

    .even td, .odd td{
        background-color: white !important;
        border: 1px solid #ccc;
        color: #333333;
        padding: 4px;
        vertical-align: middle;
        border-radius: 5px !important;
        -moz-border-radius: 5px !important;
    }
    thead th{
        height: 30px !important;
    }
</style>
<div id="shield">
</div>
<div id = "popup">
  <table style="width:100%;height:100%; border: solid 2px gray !important; border-radius: 5px !important;">
    <tr>
        <th id="popup-header">
         Header
        </th>
    </tr>
    <tr>
        <td id="popup-content">
        </td>
    </tr>
    <tr>
      <td id="popup-footer">
        <a id="btn-save" style="width:12%" class="btn btn-success pull-right" >Save</a>
        <a style="width:12%" class="btn btn-danger pull-left" href="javascript:cancel();">Cancel</a>
      </td>
    </tr>
   </table>

</div>

<script>

    var sections = {}

    <%
    keys =  @lab_sections[0].keys if  !@lab_sections.blank?
    @lab_sections.each do |sec|
        id = sec['test_category_id']
     %>

    sections[<%= id%>] = {};

    <%
        keys.each do |ky|
    %>
    sections[<%= id%>]["<%= ky%>"] = "<%= sec[ky]%>"
    <%
        end
     end %>


    var users = {}

    //Initialising defaults used for creating a new user
    users[-1] = {}
    users[-1]['typeSelect'] = "<select id='level' class='form-control'><option value='2' >" +
            "Lab Manager</option><option value='5'  >" +
            "Lab Receptionist</option><option value='13' selected >" +
            "Lab Technician</option></select>"


    users[-1]["selectLabSections"] = "<ul style='height: 100px; overflow-y: auto'>";
    <%
    @lab_sections.each do |sec|
    %>
    users[-1]["selectLabSections"] += "<div class = 'checkbox' ><label> <input class = 'lab-section-checkbox' value=<%= sec['test_category_id'].to_i%> type = 'checkbox'> " +
            "<%= sec['name']%></label></div>";
    <% end %>
    users[-1]["selectLabSections"] += "</ul>";

    //End of defaults Init

    <%
    keys =  @users[0].keys if  !@users.blank?
    @users.each do |usr|
        id = usr['userId']
     %>

     users[<%= id%>] = {};


    <%
        keys.each do |ky|
    %>
         users[<%= id%>]["<%= ky%>"] = "<%= usr[ky]%>"
    <%
        end
        level = usr['level'].to_i
    %>
        users[<%= id%>]["typeSelect"] = "<select id='level' class='form-control'><option value='2' <%= (level== 2)  ? "selected" : ""%>>" +
                "Lab Manager</option><option value='5'  <%= (level== 5)  ? "selected" : ""%>>" +
                "Lab Receptionist</option><option value='13' <%= (level== 13)  ? "selected" : ""%>>" +
                "Lab Technician</option></select>"

    users[<%= id%>]["selectLabSections"] = "<ul style='height: 100px; overflow-y: auto'>";

        <%
        sections = usr['labSection'].split(',')

        @lab_sections.each do |sec|
        checked = sections.include?(sec['test_category_id']) ? 'checked' : ''
        %>
            users[<%= id%>]["selectLabSections"] += "<div class = 'checkbox' ><label> <input class = 'lab-section-checkbox' <%= checked%> value=<%= sec['test_category_id'].to_i%> type = 'checkbox'> " +
                                                    "<%= sec['name']%></label></div>";
        <% end %>
    users[<%= id%>]["selectLabSections"] += "</ul>";


    <%
     end
     %>

    function __$(id){
        return document.getElementById(id);
    }
    function  cancel(){
        history.go(-1);
    }
    function display(headerTitle, showSave){

        __$("shield").style.display = "table-cell";
        __$("popup").style.display = "table-cell";
        __$("popup-header").innerHTML = headerTitle;

        if (showSave == true){
            __$("btn-save").style.display = "block";
        }else{
            __$("btn-save").style.display = "none";
        }
    }

    function editUser(userId, username){

        buildEditContent(userId);
        var heada = (username != '') ? ("Edit User - " + username) : ("Add New User");
        display(heada, true);
        __$("popup").setAttribute('userId', userId);
        __$("btn-save").onclick = function(){
            post(__$("popup").getAttribute('userId'));
        };
    }

    function buildEditContent(userId){

        var div = document.createElement("div");
        div.id = "content-holder";
        div.className = "table-responsive";

        var table = document.createElement("table");
        table.id = "table-content";
        table.vAlign = 'top';
        table.className = "table";

        if (userId == -1) {
            var requiredDefaults = ['', '', '', '5', '', '', '', 0];
            var requiredFields = ['username', 'actualName', 'password', 'level', 'labSection', 'email', 'phone', 'canverify'];
            var displayFields = ['Username', 'Actual Name', 'Password', 'User Type', 'Lab Section', 'Email', 'Phone Number', 'Can Verify Results'];
            var controlType = ['text', 'text', 'password', 'select-single', 'select-multiple', 'text', 'text', 'checkbox'];
        }else{
            var requiredDefaults = ['', '', '', '5', '', '', '', 0];
            var requiredFields = ['username', 'actualName', 'password', 'level', 'labSection', 'email', 'phone', 'canverify'];
            var displayFields = ['Username', 'Actual Name', 'New Password (optional)', 'User Type', 'Lab Section', 'Email', 'Phone Number', 'Can Verify Results'];
            var controlType = ['text', 'text', 'password', 'select-single', 'select-multiple', 'text', 'text', 'checkbox'];
        }

        for(var i = 0; i < requiredFields.length; i++){

            var row = document.createElement("tr");

            row.className = " table-row row_" + ((i%2 == 0) ? 'even' : 'odd');
            row.style.display = "table-row";
            table.appendChild(row);

            var cell1 = document.createElement("td");
            cell1.className = "labell";
            cell1.style.display = "table-cell";
            cell1.innerHTML = displayFields[i];
            row.appendChild(cell1);

            var cell2 = document.createElement("td");
            cell2.className = "value";
            cell2.style.display = "table-cell";

            var value = requiredDefaults[i]
            if (userId != -1)
                var value = users[userId][requiredFields[i]];

            if (requiredFields[i] == 'canverify'){
                value = (value == 0) ? ("<div class='checkbox'><label><input id=\"" + requiredFields[i] + "\" type='checkbox' >Yes</label></div>") :
                        ("<div class='checkbox'><label><input id=\"" + requiredFields[i] + "\" type='checkbox' checked >Yes</label></div>");
            }else if(requiredFields[i] == 'level'){
                try {
                    value = users[userId]["typeSelect"];
                }catch(e){
                    value = users[-1]["typeSelect"];
                }

            }else if (requiredFields[i] == 'labSection'){
                try {
                    value = users[userId]["selectLabSections"];
                }catch(e){
                    value = users[-1]["selectLabSections"];
                }
            }

            if (controlType[i] == 'text') {
                cell2.innerHTML = "<input id=\'" + requiredFields[i] + "\' type='text' class='form-control' value=" + value + ">"
            }else if (controlType[i] == 'password'){
                cell2.innerHTML = "<input id=\'" + requiredFields[i] + "\' type='password' class='form-control' value='' >"
            }else{
                cell2.innerHTML = value;
            }

            row.appendChild(cell2);
        }

        div.appendChild(table);
        __$("popup-content").appendChild(div);
    }

    function preselect(userId){

        var level = users[userId]["level"];

    }

    function post(userId){

        var params = {};
        params["userId"] = userId;
        var requiredFields = ['username', 'actualName', 'password', 'level', 'labSection', 'email', 'phone', 'canverify'];

        for( var i = 0; i < requiredFields.length; i++) {
            var value = "";
            if (requiredFields[i] == 'labSection') {

                value = [];
                var nodes = document.getElementsByClassName("lab-section-checkbox");
                for (var j = 0; j < nodes.length; j++){
                    if (nodes[j].checked){
                        value.push(nodes[j].value);
                    }
                }
                value = value.join(',');
            }else if (requiredFields[i] == 'canverify'){
                value =  __$(requiredFields[i]).checked ? 1 : 0;
            }else{
                value = __$(requiredFields[i]).value;
            }

            params[requiredFields[i]] = value;
        }

        var post_url = 'post_data';
        params['activeStatus'] = -1;

        jQuery.ajax({url: post_url,
                    type: "POST",
                    data: params,
                    success: function (response) {
                        cancel();
                    }
                }
        ).fail(function(xhr, status, error){
                    alert(error)
        });
    }

editUser(<%= @user_id%>, '<%= session[:user]%>');
</script>
