<html>
<head>
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "docs" %>
<%= stylesheet_link_tag "prettify" %>                                              
<%= stylesheet_link_tag "bootstrap-responsive" %>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "bootstrap-tab" %>
<%= javascript_include_tag "bootstrap-dropdown" %>
<%= javascript_include_tag "verify" %>


  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

<script>
  function activateTabs() {
    $('.dropdown-toggle').dropdown();
  }
</script>
                                             
<style>

    body {
        padding-top: 40px;
        min-width: 900px;
    }

    .container {
        height: auto;
    }

    .subnav {
        top: 40px;
        z-index: 1020;
    }
    input, textarea, select, .uneditable-input {
        height: 30px !important;
    }

    .images {
        /*width: 200px;
        height: 150px;
        color: #F5F5F5;
        border-style: solid;
        border-width: 1px;*/

        border-radius: 6px 6px 6px 6px;
        height: 128px;
        width: 128px;
    }

    .item_description {
        padding-left: 10px;
        vertical-align: top;
        line-height: 1.4em;
        color: #222222;
        font-size: 12px;
    }

    .image_container {
    }

    .zebra-striped {
        width: 100%;
    }

    .details {
        width: 200px;
        padding-left: 10px;
        vertical-align: top;
        line-height: 1.4em;
        color: #222222;
        font-size: 12px;
    }

    .user-name-bunner {
        color: white;
        font-size: 13px;
    }
    .dropdown-menu:before,
    .dropdown-menu:after {
        border: none !important;
        content: none !important;
    }


  .dropdown-accounts {                                                                
    left: -79px !important;
  }

  .dropdown-work {                                                                
    /*left: -79px !important;*/
    left: -28px !important;                                                      
  }

    body, #popup{
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }

</style>
</head>
<body>


<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<% if params[:action] != 'login' %>
<ul class="nav">
  <li><a class="brand" href="/"><%=app_name%></a></li>
  <% if true %>
    <li class="active"><a href="/">Home</a></li>
  <%end%>
  <li><a href="/reports">Reports</a></li>    
  <li class="dropdown">

      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Configurations <b class="caret"></b></a>

      <ul class="dropdown-menu">

        <li><a href="/config/user_accounts?title=User Accounts">User accounts</a></li>

        <li><a href="/config/test_types?title=Test Types">Test Types</a></li>

        <li class="divider"></li>

        <li><a href="#">Reports</a></li>

      </ul>

    </li>                         
</ul>
 <% end %>

<form class="navbar-search pull-right" action="/products/search" method="Get">
<% if false %>
<span class="user-name-bunner"><font style="color:PowderBlue;">Login as:</font>
&nbsp;<%=Users.current.username%></span><%='&nbsp;'*2%>
<input type="text" class="search-query" placeholder="Search" name="search_string">
<%end%>

</form>

</div>
</div>
</div>


<div class="container-fluid">
<!-- -->
<div class="subnav subnav-fixed">

  	

  <ul class="nav nav-pills">
    <li class="dropdown active" style="float:right;" id="pedddind_work">
      <%pedddind_work = []
        1.upto(5).each do |n|
          pedddind_work << "Work ... #{n}"
        end
      %>
      <%if true%>                                                   
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Pedding work&nbsp;(<%=pedddind_work.length%>)<b class="caret"></b></a>
      <%end%>
      <%unless false%>                                                   
      <ul class="dropdown-menu dropdown-work">                                                
        <%(pedddind_work || []).each do |n| %>
          <li><a href="#"><%=n%></a></li>   
        <%end%>                             
      </ul>                                                                     
      <%end%>
    </li>
    <li class="dropdown" style="float:right;">
      <% if true %>
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Account<b class="caret"></b></a>
      <%end%>
      <ul class="dropdown-menu dropdown-accounts">
        <% if true %>
        <li><a href="/users/settings">Settings</a></li>
        <%end%>
        <li><a href="/users/terms_and_conditions">Terms of conditions</a></li>
        <li><a href="/users/privacy_policy">Privacy policy</a></li>
        <% if session[:user_id].blank?%>
          <li><a href="/users/login">Login</a></li>
        <%else%>
          <li><a href="/users/logout">Logout</a></li>
        <%end%>
      </ul>
    </li>
  </ul>
</div>


<%=("<br />"*3).html_safe%>
<%= yield %>

</body>

<script>
     activateTabs();

    <% if !flash[:error].blank? %>

    alert("ERROR: <%= flash[:error] %>");

    <% elsif !flash[:notice].blank? %>

    alert("INFO: <%= flash[:notice] %>");

    <% end %>
</script>

</html>
