<html>
<head>

<%= stylesheet_link_tag "docs" %>
<%= stylesheet_link_tag "prettify" %>                                              
<%= stylesheet_link_tag "bootstrap-responsive" %>

<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "bootstrap-tab" %>
<%= javascript_include_tag "bootstrap-dropdown" %>
<%= javascript_include_tag "jquery.validate.min.js" %>
<%= javascript_include_tag "additional-methods.min.js" %>


  <link href="/assets/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <link href="/assets/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
  <link href="/assets/styles.css" rel="stylesheet" media="screen"/>

  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <%= stylesheet_link_tag "bootstrap" %>
<script>
  function activateTabs() {
    $('.dropdown-toggle').dropdown();
  }
</script>
                                             
<style>

    body {
        padding-top: 40px;
        min-width: 900px;
        font-size: 14px;
        background-color: #f5f5f5 !important;
    }

    .container {
        height: auto;
    }

    .mainPage{
        background-color: white !important;
    }
    .subnav {
        top: 40px;
        z-index: 1020;
    }
    input, textarea, select, .uneditable-input {
        height: 30px !important;
    }

    .images {
        /*width: 200px;
        height: 150px;
        color: #F5F5F5;
        border-style: solid;
        border-width: 1px;*/

        border-radius: 6px 6px 6px 6px;
        height: 128px;
        width: 128px;
    }

    .item_description {
        padding-left: 10px;
        vertical-align: top;
        line-height: 1.4em;
        color: #222222;
        font-size: 12px;
    }

    .image_container {
    }

    .zebra-striped {
        width: 100%;
    }

    .details {
        width: 200px;
        padding-left: 10px;
        vertical-align: top;
        line-height: 1.4em;
        color: #222222;
        font-size: 12px;
    }

    .user-name-bunner {
        color: white;
        font-size: 13px;
    }
    .dropdown-menu:before,
    .dropdown-menu:after {
        border: none !important;
        content: none !important;
    }


  .dropdown-accounts {                                                                
    left: -79px !important;
  }

  .dropdown-work {                                                                
    /*left: -79px !important;*/
    left: -28px !important;                                                      
  }

    .navbar-inner{
        padding-left: 10px !important;
    }
    .navbar-inner .container{
        margin-left: 0px !important;
    }
        nav{
            padding-left: 20px !important;
        }

    .version{
        font-size: 0.7em !important;
    }
</style>
</head>
<body>


<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<% if params[:action] != 'login' %>
<ul class="nav">
  <li><a class="brand" href="/"><%=app_name%></a></li>
  <li style="float:right;"><a href="/orders_search">Orders</a></li>
  <li style="float:right;"><a href="/reports">Reports</a></li>
  <li style="float:right;" ><a href="/">Home</a></li>
</ul>
 <% end %>

<form class="navbar-search pull-right" action="/products/search" method="Get">
<% if false %>
<span class="user-name-bunner"><font style="color:PowderBlue;">Login as:</font>
&nbsp;<%=Users.current.username%></span><%='&nbsp;'*2%>
<input type="text" class="search-query" placeholder="Search" name="search_string">
<%end%>

</form>

</div>
</div>
</div>


<div class="container-fluid">
<!-- -->
<div class="subnav subnav-fixed">

  <ul class="nav nav-pills pull-right">
    <li class="dropdown" style="float:right;">
      <% if true %>
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Account<b class="caret"></b></a>
      <%end%>
      <ul class="dropdown-menu dropdown-accounts">

        <li><a href="/config/account_edit">Edit account</a></li>
        <li><a href="/user/login?logout=true">Logout</a></li>

      </ul>
    </li>
    <li class="dropdown" style="float:right;">

      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Configurations <b class="caret"></b></a>

      <ul class="dropdown-menu">

        <li><a href="/config/user_accounts?title=User Accounts">User accounts</a></li>

        <li><a href="/config/test_types?title=Test Types">Test Types</a></li>

        <li class="divider"></li>

        <li><a href="#">Reports</a></li>

      </ul>

    </li>
  </ul>
</div>


<%=("<br />"*3).html_safe%>
<%= yield %>

</body>

<script>
     activateTabs();

    <% if !flash[:error].blank? %>

    alert("ERROR: <%= flash[:error] %>");

    <% elsif !flash[:notice].blank? %>

    alert("INFO: <%= flash[:notice] %>");

    <% end %>
</script>

</html>
