<html>
<head>
<%= stylesheet_link_tag "bootstrap" %>                                              
<%= stylesheet_link_tag "docs" %>                                              
<%= stylesheet_link_tag "prettify" %>                                              
<%= stylesheet_link_tag "bootstrap-responsive" %>                                              

<%= javascript_include_tag "jquery" %>                                              
<%= javascript_include_tag "bootstrap-tab" %> 
<%= javascript_include_tag "bootstrap-dropdown" %> 

<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

<script>
  function activateTabs() {
    $('.dropdown-toggle').dropdown();
  }
</script>
                                             
<style>
body {  
  padding-top: 40px; 
  min-width: 900px;
}

.container {
  height: auto;
}

.subnav {
    top: 40px;
    z-index: 1020;
}
input, textarea, select, .uneditable-input {                                    
   height: 30px !important;                                                      
} 

.images {
  /*width: 200px;
  height: 150px;
  color: #F5F5F5;
  border-style: solid;
  border-width: 1px;*/
  
  border-radius: 6px 6px 6px 6px;
  height: 128px;
  width: 128px;
}

.item_description {
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

.image_container {
}

.zebra-striped {
  width: 100%;
}

.details {
  width: 200px;
  padding-left: 10px;
  vertical-align: top;
  line-height: 1.4em;
  color: #222222;
  font-size: 12px;
}

.user-name-bunner {
  color: white;
  font-size: 13px;
}
.dropdown-menu:before,
.dropdown-menu:after {
    border: none !important;
    content: none !important;
}

</style>


</head>


<body>


<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li><a class="brand" href="/"><%=app_name%></a></li>
<li class="active">
<a href="/">Home</a>
</li>
  <li><a href="/home/index">Reports</a></li>

  <li class="dropdown">

    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Configurations <b class="caret"></b></a>

    <ul class="dropdown-menu">

      <li><a href="/config/user_accounts?title=User Accounts">User accounts</a></li>

      <li><a href="#">Test Catalog</a></li>

      <li class="divider"></li>

      <li><a href="#">Reports</a></li>

    </ul>

  </li>

</ul>


<form class="navbar-search pull-right" action="/products/search" method="Get">
<% unless true %>
<span class="user-name-bunner"><font style="color:PowderBlue;">Login as:</font>
&nbsp;<%=Users.current_user.username%></span><%='&nbsp;'*2%>
<input type="text" class="search-query" placeholder="Search" name="search_string">
<%end%>

</form>

</div>
</div>
</div>


<div class="container-fluid">
<!-- -->
<div class="subnav subnav-fixed">
  <div class="alert alert-info" role="alert">
    <span style="width: 10%; font-weight: bold; padding-left: 45%; font-size: 1.4em;"> Lab Settings <%= params[:title].blank? ? "" : " - #{params[:title]}"%> </span>
  </div>
</div>


<%=("<br />"*3).html_safe%>
<%= yield %>

</body>

<script>
  activateTabs();
</script>

</html>
